TAVILY_API_KEY=your_tavily_key
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=your_langsmith_key
LANGSMITH_PROJECT=market-agent-demo
DB_URI=your_db_uri
SENDER_EMAIL=your_sender_email
SENDER_PASSWORD=your_sender_password
DEFAULT_RECEIVER_EMAIL=your_default_receiver_email